/**************/
/* CSS REMEDY */
/**************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body li,
body a,
body button {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: black;
	text-decoration: none;
}

body p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: black;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

body h1,
body h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: black;
	text-decoration: none;
}

body h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: black;
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.topbar {
	display: flex;
	background-color: rgb(241, 241, 236);
	justify-content: end;


}

.topbar li {

	list-style: none;
	text-decoration: none;
	display: inline-block;
	padding: 0px 10px;
}

.topbar a {
	font-size: 0.6rem;
}

.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #BBBCBC;
}




.hero-banner {

	background-image: url('../images/Hero.png');
	

	background-size: cover;

	background-position: center;

	width: 100%;

	display: flex;

	justify-content: center;

	align-items: center;

	height: 60vh;
	/* Hoe groot de banner is */

}

.hero-banner2 {

	background-image: url('../images/Banner\ 2.webp');
	

	background-size: cover;

	background-position: center;

	width: 100%;

	display: flex;

	justify-content: center;

	align-items: center;

	height: 60vh;
	/* Hoe groot de banner is */

}

.content {

	text-align: center;

	

}



.button-list {

	list-style: none;

	padding: 0;

	display: flex;

	justify-content: center;

	gap: 20px;
	/* Ruimte tussen de buttons */

}



.button-list li {

	display: inline;

}



.button {

	background-color: black;

	color: white;

	text-decoration: none;

	padding: 10px 20px;

	border-radius: 15px;
	/* Rondingen */

	border: none;

	cursor: pointer;

	transition: background-color 0.3s ease;

}



.button:hover {

	background-color: grey;
	/* veranderd de kleur als je hovert */

}

.product-slider h2 {
	font-size: 2rem;
	display: inline-block;
	margin-right: 1rem;
}

.view-all {
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;
	margin-bottom: 1rem;
	border-bottom: 1px solid currentColor;
	/* onderlijn effect */
}

.carousel-container {
	position: relative;
	margin-top: 1rem;
}



.carousel {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* Keep 5 columns for your 5 items */
	gap: 0.2rem;
	margin: 0.1rem;
	padding-bottom: 2rem;
	overflow-x: hidden;
	/* Hide the overflow */
	width: calc((100% - 1.2rem) - 20%);
	/* Adjust this value as needed */
}

.product {
	position: relative;
	overflow: hidden;
	/* Zorgt ervoor dat de wishlist button niet overflowt (internet gevonden) */
}

.product img {
	width: 100%;
	display: block;
	
}

.product .product-image-hover {
    display: none; /* Verbergt de hover afbeelding */
}

.product:hover .product-image {
    display: none; /* Verbergt de default afbeelding als je hovert */
}

.product:hover .product-image-hover {
    display: block; /* Laat de hover afbeelding zien */
}

.wishlist-button {
	position: absolute;
	top: 30px;
	right: 50px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	padding: 0.8rem;
	cursor: pointer;
	display: none;
	transition: background-color 0.3s ease;
	border: none;
}

.product:hover .wishlist-button {
	display: block;
}

.product-information {
	font-family: "Roboto", sans-serif;
	font-size: 0.9rem;
	padding-left: 2rem;
	padding-bottom: 0.2rem;
	margin: 0;
	color: #333;
}

.product-price {
	font-size: 0.8rem;
	padding-left: 2rem;
	margin: 0;
	color: #202020;
}

/* Opacity lager voor laatste item */
.product:nth-last-child(1) {
	opacity: 0.5;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    padding: 0 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

footer .footer-column h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer .footer-list {
    list-style: none;
    padding: 0;
}

footer .footer-list li {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

footer .footer-list a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
    text-decoration: none;
    color: black;
}

footer .footer-list a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {

	.hero-banner {

		height: auto;

		padding: 20px;

	}

	.carousel {
		grid-template-columns: repeat(4, 1fr);
	}

	.product:nth-last-child(1) {
		display: none;
		/* Hide the last product on smaller screens */
	}

	.button-list {

		flex-direction: column;

	}

}